body {
    font-size: 15px;
    margin-left: 1%;
    margin-right: 1%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    display: flex;
    justify-content: space-between;
    
}
.numerosuperior {

    padding-left: 6px;
    padding-right: 6px;

}


.flex-container {
    display: flex;
    justify-content: space-around; /* Distribuir espaço entre os elementos */
    align-items: center; 
}


table {
    width: 100%;
    height: 98vh;
}

p,div,h3 {
    margin: 0%;
}


.h {
  background-color: #6E9399;  
}
.ma {
    background-color: #EBA56B;
}

.mat {
    background-color: #F0E45C;
}

.mt {
    background-color: #E98293;
}

.mpt {
    background-color: #a2c6d2;
}

.sm{
    background-color: #4db6ac;
}

.nmp {
    background-color: #a2d43c;
}

.nmd {
    background-color: #a7dff3;
}

.gs {
    background-color: #67afde;
}

.des {
    background-color: #b0b0b0;
}

.la {
    background-color: #26c0e2;
}

.ac {
    background-color: #DEA0D7;
}

th:not(.colspan) {
    border-radius: 20%;
    width: 5.5%;
    height: 10%;
    border: 1px solid black;

}



.legenda {
    margin-left: 2.8%;
    margin-right: 1.5%;
    justify-content:space-around;
    display: flex;
    text-align: center;
}

.topico {
    position: relative;
    display: flex;
    align-items: center;
}

.forma {
    width: 18px;
    height: 18px;
    border-radius: 3px;

}

.textoLegenda {
    margin-left: 10px;
    margin-right: 10px;
}

